@import url("https://marvel-ui.vercel.app/css/marvel-ui.css");

:root {
  --white: var(--white);
  --border: var(--border);
  --primary: #2196f3;
  --primary-dark: ##1976d2;
  --primary-light: #bbdefb;
  --accent: #03a9f4;
}

html {
  font-size: 100%;
}

.app {
  height: 100vh;
}

.sidebar {
  width: 30%;
  border-right: 1px solid var(--primary-light);
}

.container {
  flex-grow: 1;
  background: var(--white);
}

.appbar {
  background: var(--primary-light);
  height: var(--scale-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container > .appbar {
  justify-content: space-between;
  padding: 0 1rem;
}

/* Utility */

.welcome {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--white);
}

.search-component {
  height: var(--scale-3);
  background: var(--white);
  display: flex;
  align-items: center;
  gap: var(--scale-05);
  padding: 0 var(--scale-075);
  border-bottom: 1px solid var(--primary-light);
}

.input {
  background-color: var(--primary-light);
  color: var(--white);
}

.user-boxes {
  overflow-y: auto;
  flex: 1;
}

.user-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: var(--scale-05);
  border-bottom: 1px solid var(--primary-light);
}

.user-box:hover {
  background: var(--primary-light);
}

.tweet__box p {
  cursor: pointer;
  margin: 1rem;
  background-color: rgb(160, 230, 240);
}

.user__info span {
  font-style: italic;
  font-size: small;
}

.user__actions {
  display: flex;
  width: 20%;
  justify-content: space-evenly;
}

/* Cursor class */

.pointer {
  cursor: pointer;
}
