@import url("https://marvel-ui.vercel.app/css/marvel-ui.css");

:root {
  --white: var(--white);
  --border: var(--border);
  --primary: #2196f3;
  --primary-dark: #1976d2;
  --primary-light: #bbdefb;
  --accent: #03a9f4;
}

html {
  font-size: 100%;
}

.app {
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 30%;
  border-right: 1px solid var(--primary-light);
  overflow-y: auto;
}

.container {
  width: 70%;
  background: var(--white);
  overflow-y: auto;
}

.appbar {
  position: sticky;
  top: 0;
  background: var(--primary-light);
  height: var(--scale-3);
  display: flex;
  align-items: center;
  z-index: var(--z-3);
  justify-content: space-between;
}

.container > .appbar {
  justify-content: space-between;
  padding: 0 1rem;
}

/* Utility */

.welcome {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--white);
}

.search-component {
  height: var(--scale-3);
  background: var(--white);
  display: flex;
  align-items: center;
  gap: var(--scale-05);
  padding: 0 var(--scale-075);
  border-bottom: 1px solid var(--primary-light);
}

.input {
  background-color: var(--primary-light);
  color: var(--white);
}

.user-boxes {
  overflow-y: auto;
  flex: 1;
}

.user-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: var(--scale-05);
  border-bottom: 1px solid var(--primary-light);
}

.user-box:hover {
  background: var(--primary-light);
}

.tweets-section {
  overflow-y: auto;
}

.tweet-box {
  cursor: pointer;
  margin: var(--size-2) 1rem;
  padding: 1rem;
  border-radius: var(--radius-lg);
  color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
}

.user-info span {
  font-style: italic;
  font-size: small;
}

.user-actions {
  display: flex;
  width: 20%;
  justify-content: space-evenly;
}

/* Cursor class */

.pointer {
  cursor: pointer;
}

.badge-info {
  width: var(--size-6);
  height: var(--size-6);
  padding: var(--size-2);
  left: -6px;
  color: white;
}
